@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.cho-container button.mercadopago-button{
  @apply bg-blue-600 !important;
  @apply w-full !important;
  @apply col-span-2 !important;
  @apply rounded-2xl !important;
  @apply py-3 !important;
  @apply text-white !important;
  @apply mt-6 !important;
  @apply font-bold !important;
  @apply flex !important;
  @apply justify-center !important;
  @apply gap-2 !important;
  @apply text-base !important;
  text-transform: uppercase;
  font-family: 'Nunito';
}

.cho-container button.mercadopago-button:hover{
  @apply bg-blue-700 !important;
}

.cho-container button.mercadopago-button:before{
  display: block;
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6"><path d="M4.5 3.75a3 3 0 00-3 3v.75h21v-.75a3 3 0 00-3-3h-15z" /><path fill-rule="evenodd" d="M22.5 9.75h-21v7.5a3 3 0 003 3h15a3 3 0 003-3v-7.5zm-18 3.75a.75.75 0 01.75-.75h6a.75.75 0 010 1.5h-6a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z" clip-rule="evenodd" /></svg>');
  background-size: 21px 21px;
  height: 21px;
  width: 21px;
}